main {
  position: absolute;
  top: 100%;
}

main h2 {
  font-size: 107px;
}

main h3 {
  margin-bottom: 20px;
  font-size: 17px;
}

h1 {
  font-size: 80px;
  text-align: center;
  margin: 20px 20px 0px 20px;
}

nav {
  padding-top: 40px;
}

header h2 {
  text-align: center;
  font-size: 20px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

nav ul li a:hover {
  color: darkorange;
}

header div button {
  margin: 20px 10px 10px 10px;
  padding: 10px;
  background-color: darkorange;
}

.arrow_container {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 0% auto;
}

.chevron {
  position: absolute;
  width: 35px;
  height: 12px;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: darkorange;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

@keyframes move {
  25% {
    opacity: 1;

  }

  33% {
    opacity: 1;
    transform: translateY(30px);
  }

  67% {
    opacity: 1;
    transform: translateY(40px);
  }

  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

#header-background {
  position: absolute;
  z-index: -1;
  height: 92%;
}

#header-background img {
  height: 100%;
  min-height: 500px;
}

#button-container {
  margin-top: 20px;
  text-align: center;
}

#Resources {
  margin: 20px;
}

#resource-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 1000px;
}

#resource-container div img {
  width: 100%;
}

#Ramblings {
  background-color: antiquewhite;
  padding: 20px;
  min-height: 100vh;
}

#Ramblings ul li div {
  cursor: pointer;
  max-height: 200px;
}

#Ramblings ul li div img {
  max-height: 150px;
}

.hidden ul {
  display: none;
}

article p {
  margin: 20px;
}

.title {
  color: darkorange;
  font-size: 20px;
}